[job_config]
name = GSE Classification
action_on_failure = CONTINUE
classify_script = classify_gse.py
classify_script_s3_location = s3://[YOUR-BUCKET]/...
classify_script_local_location = source/classify_gse/
upload_classify_script = True

[spark_config]
driver_memory = 512m
executor_memory = 512m

[script_arguments]
input_location = s3://[YOUR-BUCKET]/...
output_location = s3://[YOUR-BUCKET]/...
region = us-west-2
