[job_config]
name = GSE Differential Expression Analysis
action_on_failure = CONTINUE
analysis_script = analyse_gse.py
analysis_script_s3_location = s3://[YOUR-BUCKET]/...
analysis_script_local_location = source/analyse_gse/
upload_analysis_script = True

[spark_config]
driver_memory = 512m
executor_memory = 512m

[script_arguments]
input_location = s3://[YOUR-BUCKET]/gse_classified_results.csv
output_location = s3://[YOUR-BUCKET]/...
filter_gse = True
strict = False
region = us-west-2
