[EMR]
release_label = emr-5.16.0
name = GEOracle+
log_uri = s3://[YOUR-BUCKET]/...
bootstrap_scripts = install_software.sh, copy_reference.sh, copy_classify_data.sh
bootstrap_scripts_s3_location = s3://[YOUR-BUCKET]/...
bootstrap_scripts_local_location = source/cluster_creator
upload_bootstrap_scripts = True

software_installer_location = s3://[YOUR-BUCKET]/...
genome_folder_location = s3://[YOUR-BUCKET]/...
classify_data_folder_location = s3://[YOUR-BUCKET]/...

[EMR_nodes]
key_name = sw_test
service_role = EMR_DefaultRole
instance_profile = EMR_EC2_DefaultRole
master_instance_type = c3.4xlarge
master_instance_count = 1
core_instance_type = c3.4xlarge
core_instance_count = 25
core_instance_spot = True
core_instance_bid_price = 1.50
# Optional
vpc_subnet =
master_security_group =
slave_security_group =
service_access_security_group =
